.profilemodal{
	width:100%;
	height:100%;
	position:fixed;
	z-index:99999;
	background: rgba(0,0,0,0.7);
	top:0;
	left:0;



}


.settings{
	margin-bottom: 15px;
	padding: 0 15%;
}
.settings a{
	color: #a8aaab;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	padding-left:20px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin: 0 0 0 20px;
	border-bottom: none;
}
.help{
	margin-bottom:15px;
	padding: 0 15%;
}

.help a{
	color: #a8aaab;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	padding-left:24px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin: 0 0 0 20px;
	border-bottom: none;
}

.help a:hover,.settings a:hover{
	opacity: 1.2;
	text-decoration:none;
}


.user_info{
	list-style: none;
	margin: 30px 0 ;
}

.cart_text{
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;

}

.user_cart{
	background-color: #082b49;
	overflow: hidden;
	padding: 15px 15px 15px 0;
	text-align: center;
}
.user_avatar img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	width: 70px;
	height: 65px;
}

.user_avatar{
	display: inline-block;
	margin: 0 15px 0 0;
	float: left;
}
.user_text{
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	display: block;
	margin: 0 0 10px 0;
}

.user_name{
	font-size: 28px;
	line-height: 34px;
	font-weight: 300;
	display: block;
}


.user_account{
	color: #242424;
	overflow: hidden;
	margin-bottom: 35px;
	padding: 0 40px;
}

.profile-content{
	width:30%;
	height:500px;
	background:#fff;
	border-radius:3px;
	position:absolute;
	left:36%;
	top:15%;
	padding: 3% 0;
}

.profile-main-content {
	width: 100%;
	height: auto;
	position: inherit;
}

.user_logout{
	padding: 0 40px;
}


#login-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;

}

.login-content{
	width:48%;
	height:378px;
	background:#fff;
	border-radius:3px;
	position:absolute;
	left:26%;
	top:25%;

	.unselect{

		background:#eee;
		opacity:0.9;
		color:#bac0c3;

	}

	.login-header{
		width:100%;
		height:inherit;

				.login-header-left{
					width:50%;
					height:auto;
					float:left;
					text-align:center;
					height:85px;
					h4{		
							margin:0;
						    font-size: 16px;
						    text-align: center;
						    line-height: 85px;
						    text-transform: uppercase;
						    font-weight: 600;
					}

				}

				.login-header-right{
					width:50%;
					height:auto;
					float:right;
					text-align:center;
					height:85px;
					h4{		
							margin:0;
						    font-size: 16px;
						    text-align: center;
						    line-height: 85px;
						    text-transform: uppercase;
						    font-weight: 600;
					}

				}


	}

		.login-main-content{
			width:100%;
			height:auto;
			position:inherit;

			.content-signin{
				width:100%;
				height:293px;
				padding:50px 40px;
			}
			.content-signup{
				width:100%;
				height:293px;
				padding:50px 40px;
			}


			.form-left{
				    float: left;
				    padding-right: 40px;
				    width: 50%;
				    border-right: 1px solid #e0e0e0;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;

					

				   	input[type="text"],input[type="password"]{

				   		border-style:none;
				   		-webkit-appearance: none;
					    outline: none;
					    resize: none;
				   	}

				   	input[type="checkbox"]{
				   	
				   		width:20px;
				   		height:20px;	
				   	}
				   


					
					.terms{

						  color:#47c9ec;
						  text-decoration:none;
						  margin-bottom:20px;
					}

					.span-style{
					    position: relative;
					    line-height: 1.5em;
					    color:#5b6a76;
					}

			}



			.form-right{
					float: right;
				    padding-left: 40px;
				    width: 50%;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;


				    .login_social_title{
				    	color: #999fa2;
					    font-size: 18px;
					    line-height: 26px;
					    margin-bottom: 23px;
				    }

				    .login_social_list{
				    	padding: 0;
    					width: 100%;
    
    					
    					ul{
    						width:100%;
    						li{
    							list-style-type:none;
    							display:inline;
								padding:5px;

    							a{	
    								text-decoration:none;

    								img{
    									width:40px;
    									height:40px;
    								}
    							}
    							
    						}
    					}
				    }

				    .social_problems{
				    	width:100%;
				    	

				    	a{
					    	font-size:100%;
					    	color:#47c9ec;
					    	font-width:5px;	
				    	}
				    	a:hover{
				    		text-decoration:none;
				    		color:#4682b4;
				    	}
				    }





			}
		}
}

#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > span{
	font-size:10px;
}
#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > a{
	font-size:12px;
}