.carousel-header{
	width:100%;
	/*#f5f9fa*/

	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 525px;
	}


	.caption-left{
		margin-top:-400px;
		
		float:left;
		width:60%;
		color:#fff;


		h1{
		    font-size:55px;
		    font-family: "Open Sans",sans-serif;
		    opacity:0.8;
		    text-align:left;

		}

		p{
		    	    color: rgba(255,255,255,1.00);
				    font-size: 16px;
				    line-height: 27px;
				   
				    font-weight: 400;
				    font-style: normal;
				    font-family: "Open Sans",sans-serif;
				    padding: 0px 0px 0px 0px;
				    text-decoration: none;
				    text-align: left;
				    background-color: transparent;
				    border-color: rgba(0,0,0,1.00);
				    border-style: none;
				    border-width: 0px;
				    border-radius: 0px 0px 0px 0px;
				    text-shadow: none;
				    margin: 0px;
				    white-space: nowrap;
				    text-transform: uppercase;
				    margin-bottom:100px;
				   
		    }



		 .sc_button{

		  	
				font-size:14px;
				font-weight:bold;	
				padding:15px 25px;
				border-radius:20px;
				color:#fff;
				border:0;


		  }
		  .sc_button_blue{
		  	background:#34c1e7;
		  }

		  .sc_button_bg_custom{
		  	color: #ffffff !important;
    		letter-spacing: 0.5px !important;
		  }


	}

	.black{
		color:rgba(8,43,73,1.00);
	}
	.caption-right{
		margin-top:-400px;
		
		float:right;
		width:60%;
		color:#fff;

		

		h1{
		    font-size:55px;
		    font-family: "Open Sans",sans-serif;
		    opacity:0.8;
		    text-align:left;

		}

		p{
		    	    color: rgba(255,255,255,1.00);
				    font-size: 16px;
				    line-height: 27px;
				   
				    font-weight: 400;
				    font-style: normal;
				    font-family: "Open Sans",sans-serif;
				    padding: 0px 0px 0px 0px;
				    text-decoration: none;
				    text-align: left;
				    background-color: transparent;
				    border-color: rgba(0,0,0,1.00);
				    border-style: none;
				    border-width: 0px;
				    border-radius: 0px 0px 0px 0px;
				    text-shadow: none;
				    margin: 0px;
				    white-space: nowrap;
				    text-transform: uppercase;
				    margin-bottom:100px;
				    margin-right:100px;
		    }



		 .sc_button{

		  	
				font-size:14px;
				font-weight:bold;	
				padding:15px 25px;
				border-radius:20px;
				color:#fff;
				border:0;


		  }
		  .sc_button_blue{
		  	background:#34c1e7;
		  }

		  .sc_button_bg_custom{
		  	color: #ffffff !important;
    		letter-spacing: 0.5px !important;
		  }



	}
}

