footer{
	width:100%;

	font-size: 15px;
    line-height: 22px;
    padding: 35px 0;
    background-color: #051c2f;
    color: #aeb1b3;

    
}

.copyright_wrap{
	width:80%;
	margin:0 auto;
	
    a{
        color:#337ab7;
    }
}


 .login_social_list{
				    	padding: 0;
    					width: 100%;
    
    					
    					ul{
    						width:100%;
    						li{
    							list-style-type:none;
    							display:inline;
								padding:5px;

    							a{	
    								text-decoration:none;

    							}
    							
    						}
    					}
				    }
.icon-circle{
    width:40px;
    height:40px;
    border-radius:50%;
}