.nav_container{
	clear:both;
	width:100%;
	background:#fff;
	


	.nav_main{
		width:80%;
		height:150px;
		position:relative;
		margin:0 auto;



		.nav_left{
			width:20%;
			float:left;
			img{
				padding:10%;
				width:80%;
				margin-top:12%;
			}

		}

		.nav_right{

			width:75%;
			float:right;
			right:0;
			padding-top:4%;
			padding-left:8%;
			font-size:$base-font-size;



			@import '../base/_base.scss';
			ul,li{

				a{padding-bottom:10px;}
				display:inline-block;
				padding:15px;

				li:nth-child(1) a:hover,a:focus,.active,li:nth-child(2) a:hover,li:nth-child(3) a:hover,li:nth-child(4) a:hover{
				color:$base-hover-color;
				text-decoration:none;
				border-bottom:2px solid $base-hover-color;	

					
				}


			}

			
			


		}

	}
}