.section-layout{
	margin-top:-40px;
	width:100%;
	height:746.69px;
	background:#f5f9fa;


	.section-container{

		width:80%;
		margin:0 auto;

		h1{
			padding:3% 0 3% 0;
			text-align:center;
			
			font-size:47px;
		}

		.par-section{
			width:50%;
			margin:0 auto;

			h3{text-align:center;
			font-size:100%;
			color:#6d8192;
			line-height:inherit;
			margin-bottom:70px;
			}
		}
	}


	.four-column{

		width:100%;
		margin:0 auto;
		height:337px;
		display:block;
		


		.service-block{
			float:left;
			width:22%;
			height:337px;
			background:#fff;
			margin-right:3%;
		


		}

		.fa{
			margin-top:10px;
			color:$base-hover-color;
		}
		h4{
		font-weight:bold;
		}

		p{
		 width:80%;
		 text-align:center;
		 color:#333;
		 opacity:0.9;

		}
		

	}


}