.clearfix{clear:both}


.menu_user_wrap{
	font-size: 13px;
    background-color: #082b49;
    min-height: 50px;
    color: #d0d1d2;

   

    .content_wrap{
    	    width: 1150px;
    		margin: 0 auto;

    		.menu_user_contact_area{
    			    height: 50px;
    				line-height: 50px;
                    
    				li{
    					list-style-type:none;
                        
    					i{
    						color: $base-hover-color;
    					}

    					a{
    						text-decoration:none;
    						color:#d0d1d2;
    					}
    					a:hover{
    						 color: $base-hover-color;
                                 -webkit-transition: all ease .3s;
                                    -moz-transition: all ease .3s;
                                    -ms-transition: all ease .3s;
                                    -o-transition: all ease .3s;
                                    
   						
    					}
    				}
    		}
    		.menu_user_left{
    		    float: left;
    		}

    		.menu_user_right{
    			float: right;
			    position: relative;
			    z-index: 99999;
    		}
    }
		
}


