/*

	FurAndPaws Original SASS Theme
	Author: John Louise Berdida
	Version: 0.0.1


*/


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}
html{
    overflow-y: scroll;
}



/*Base - Base styles,variables,mixins,etc */

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_normalize.scss';
@import 'base/_base.scss';

/* Modules - Individual site components*/

@import 'modules/_typography.scss';
@import 'modules/_components.scss';
@import 'modules/_sections.scss';
@import 'modules/_buttons.scss';
@import 'modules/_blocks.scss';
@import 'modules/_inputs.scss';
@import 'modules/_pagination.scss';
@import 'modules/_profile.scss';

/* Layouts - Page Layout Styles*/

@import 'layouts/_header.scss';
@import 'layouts/_nav.scss';
@import 'layouts/_footer.scss';
@import 'layouts/_smallheader.scss';
@import 'layouts/_carousel.scss';
@import 'layouts/_section.scss';


/*Modals - page modals Styles*/

@import 'modals/_login.scss';
@import 'modals/subscription.scss';

