/*

	FurAndPaws Original SASS Theme
	Author: John Louise Berdida
	Version: 0.0.1


*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  overflow-y: scroll; }

/*Base - Base styles,variables,mixins,etc */
/*Font Style*/
/*Background & Color Style*/
* {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

div {
  display: block; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  	/*background: url(../img/bg/bg_theme.jpg) center center;
    	background-size: cover;*/
  background-size: cover;
  font-size: 1em;
  line-height: 1.7em;
  color: #5b6a76;
  min-width: 992px; }

body, li:hover, a:hover, button:hover, input:focus, input:hover, input:active {
  cursor: url(../img/cursor/catwalking.ani), url(../img/cursor/catwalking.png), default; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: #082b49;
  outline: 1px solid slategrey; }

a {
  color: #000; }

a:hover {
  color: #46c8ec;
  text-decoration: none; }

.clearfix {
  clear: both; }

.button {
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 15px 25px !important;
  border-radius: 20px !important;
  color: #fff !important;
  border: 0 !important;
  outline: none !important; }

.button:hover {
  opacity: 0.8; }

.service-count {
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  position: relative;
  margin-top: -20px;
  border-radius: 50%;
  text-align: center;
  background: #b4c408; }

.sub_nav {
  margin-top: 20px;
  position: absolute;
  background: #f5f9fa;
  display: none;
  z-index: 2;
  width: 17%;
  border-bottom: 3px solid #34c1e7;
  opacity: 0.9;
  padding: 0; }
  .sub_nav .li-style {
    display: block;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0; }
    .sub_nav .li-style a {
      width: 100%;
      color: darkgrey; }
    .sub_nav .li-style a:hover {
      color: #34c1e7;
      border: 0; }

center > .a_green {
  color: #b4c408;
  text-decoration: none; }

.green {
  background: #b4c408; }

.blue {
  color: #34c1e7; }

.red {
  background: #df3f52; }

ul, li {
  list-style-type: none;
  color: #000; }

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fix-nav {
  position: fixed;
  top: -40px;
  z-index: 1;
  height: 150px;
  vertical-align: middle;
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.alignright {
  display: inline-block;
  float: right;
  margin-left: 2em;
  text-align: right; }

/* Modules - Individual site components*/
/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLV83L2yn_om9bG0a6EHWBso.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
label {
  font-weight: 300;
  color: #eee; }

.scroll_to_top {
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-size: 15px;
  position: fixed;
  border-radius: 50%;
  text-align: center;
  background: #34c1e7;
  z-index: 5;
  right: 45px;
  bottom: 70px;
  padding-top: 5px;
  display: none; }

.scroll_to_top:hover {
  color: #fff; }

.header-container {
  width: 100%;
  height: auto;
  background: #f7fafb;
  color: #5b6a76; }

.header-content {
  width: 80%;
  margin: 0 auto;
  height: 131px;
  padding: 32px 0 37px; }

.header-left {
  float: left;
  width: 75%; }
  .header-left h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 62px;
    margin: 0 0; }

.header-right {
  float: right;
  width: 25%; }
  .header-right .breadcrumb {
    background: none;
    margin: 20px 0;
    color: #5b6a76; }
    .header-right .breadcrumb a {
      text-decoration: none; }

.isotype_filters {
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 15px; }
  .isotype_filters a {
    display: inline-block;
    margin: 0 0 2px 0;
    text-align: center;
    padding: 0 30px;
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    position: relative;
    background: #f7fafb;
    color: #5b6a76; }

.isotype_filters a.active, .isotype_filters a:hover {
  border-color: #34c1e7;
  text-decoration: none; }

.activity {
  font-size: 1.1em; }

.data-count {
  display: none;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  position: absolute;
  margin-top: -24px;
  top: 0;
  left: 35%;
  opacity: 0.8;
  border-radius: 50%;
  text-align: center;
  background: #34c1e7; }

.content-left {
  float: left;
  width: 65%;
  padding: 0 20px; }

.member-search {
  margin: 0 0 30px 0;
  background: #f7fafb;
  padding: 30px;
  width: 100%;
  box-sizing: border-box; }

.member-search > input[type="text"] {
  width: 75%;
  border-radius: 25px;
  font-size: 14px;
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 30px;
  background: #ffffff;
  border: none;
  outline: none; }

.dir-form {
  clear: both;
  margin-top: 0em; }

.selected {
  color: #34c1e7 !important;
  background: transparent !important;
  border-radius: 0 !important;
  height: auto !important;
  line-height: inherit !important;
  padding: 0 !important;
  margin: 0 !important; }

.selected a {
  color: #34c1e7 !important;
  background: transparent !important;
  border-radius: 0 !important;
  height: auto !important;
  line-height: inherit !important;
  padding: 0 !important;
  margin: 0 !important; }

div#subnav.item-list-tabs {
  overflow: visible;
  float: right;
  margin: 0;
  text-align: right; }

.form-select {
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none; }

.custom-pagination {
  color: #5b5f62;
  font-size: 14px;
  margin: 20px 0;
  padding: 10px 0;
  background: 0 0;
  border: none;
  color: #767676;
  font-size: small;
  float: left; }

.items-list {
  padding: 10px 0 0;
  border-top: 1px solid #eaeaea;
  width: 100%;
  list-style: none;
  clear: both;
  margin: 0;
  padding: 0; }

.items-list li {
  margin-top: 4%;
  border: 2px solid #e0eaec;
  box-sizing: border-box;
  padding: 18px;
  overflow: auto;
  position: relative; }

.odd {
  width: 48%;
  float: left;
  margin-right: 4%; }

.even {
  width: 48%;
  float: left; }

.item-avatar {
  float: left;
  width: 15%; }

.item-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.item-thumbnail img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.item-thumbnail img:hover {
  opacity: 0.6; }

.custom-item {
  float: right;
  width: 70%;
  color: #5b5f62;
  font-weight: 400;
  font-size: 100%; }

.custom-item .item-title {
  padding: 5px 0;
  color: #5b5f62;
  font-size: 1.3em; }

.widget-right {
  float: right;
  width: 31%;
  height: auto;
  background: #f7fafb;
  padding: 40px 40px; }

.widget {
  margin: 0 auto;
  text-align: center;
  display: block; }

.widget_title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px; }

.standard-form {
  color: #5b5f62;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0 3px; }

.standard-form div label {
  display: block;
  font-weight: 700;
  margin: 15px 0 5px;
  width: auto;
  text-align: left; }

.standard-form input[type="text"], .standard-form select {
  background: #ffffff;
  width: 100%;
  border: medium none;
  border-radius: 25px;
  font-size: 14px;
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  outline: none;
  color: #767676; }

.submit {
  clear: both;
  padding: 20px 0 0; }

.items-thumbnail {
  margin: 0 auto;
  width: 80%; }

.items-thumbnail-border {
  border: 1px solid #e7e7e7;
  padding: 40px 40px;
  margin-bottom: 20px; }

.items-thumbnail img {
  height: 700px; }

.widget-right-details {
  -webkit-border-radius-top: 5px;
  -moz-border-radius-top: 5px;
  border-radius-top: 5px;
  float: right;
  width: 31%;
  height: auto;
  background: #f7fafb;
  padding-bottom: 20px; }

.widget-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  background: #df3f52;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  padding: 12.5px 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px; }

.widget-content {
  width: 90%;
  margin: 0 auto;
  height: auto; }

.widget-price {
  font-size: 1.1em;
  line-height: 1;
  color: #6e7176; }

.widget-number {
  font-size: 1.1em;
  line-height: 1;
  color: #6e7176; }

.custom-item .fa {
  color: #34c1e7; }

.widget-content .fa {
  color: #34c1e7; }

.reviews-content {
  width: 100%;
  padding: 10px 10px; }

.commentlist {
  margin: 0;
  width: 100%;
  background: 0 0;
  list-style: none; }

.comment-16 {
  width: 100%; }

.commentlist li {
  padding: 10px;
  margin: 0 0 20px;
  position: relative;
  background: 0; }

.commentlist .avatar {
  background: none;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 1.5em 0.5em 0;
  position: static; }

.comment-respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0;
  background: 0 0;
  border: 0; }

.comment-text {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px; }

.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  font-size: 1em;
  margin-bottom: 4px; }

.description {
  line-height: 21px;
  font-weight: 300; }

.comment-star-rating {
  float: left;
  overflow: hidden;
  position: relative;
  font-size: 1em;
  padding-left: 5px;
  margin-bottom: 4px; }

.review-input {
  width: 100%;
  margin: 20px 0; }

.review-label {
  width: 15%;
  float: left;
  margin: 5px 0; }

.review-inputs {
  width: 75%;
  float: left;
  margin: 5px 0; }

.review-inputs input[type="text"], .review-inputs select {
  background: #ffffff;
  width: 50%;
  border: 1px solid #333;
  border-radius: 25px;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  outline: none;
  color: #767676; }

.post_featured {
  overflow: hidden;
  margin-bottom: 2.4em;
  position: relative; }

.post_featured img {
  width: 100%;
  height: auto; }

.post_nav {
  position: relative; }

.post_info {
  line-height: 24px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #aeb1b3; }

.post_info_item {
  line-height: 20px;
  padding-right: 20px; }

.post_info_author {
  color: #232a34;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-decoration: underline; }

.post_info_date {
  color: #34c1e7; }

.post_info_item i {
  padding-right: -40px; }

.post_info_item .fa:hover {
  color: #6d8192; }

.post_info_bottom {
  margin-bottom: 40px; }

.content-wrap {
  width: 100%;
  height: auto;
  margin: 70px 0;
  background: #fff; }

.section-content {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 60px 40px; }

.column-2 {
  float: left;
  display: inline;
  width: 50%;
  padding-right: 40px; }
  .column-2 img {
    width: 555px;
    height: 428.44px;
    margin-top: 0.4em !important; }

.main_color {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  color: #34c1e7;
  font-size: 47px;
  font-weight: 300;
  line-height: 56px;
  -webkit-font-smoothing: antialiased; }

.accent_color {
  color: #b4c408;
  margin-bottom: 1.9em !important;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 600; }

.align_left {
  text-align: left; }

.sc_section {
  margin-bottom: 1.7em !important;
  width: 100%; }

.span-section-text {
  width: 80%;
  margin-bottom: 1.9em !important;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  padding-left: 10px;
  color: darkgray; }

.bg-fp {
  height: 525px;
  background: url(../img/bg/petclub.jpg) no-repeat center center;
  background-size: cover; }

.red_color {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  color: #df3f52;
  font-size: 47px;
  font-weight: 300;
  line-height: 56px;
  -webkit-font-smoothing: antialiased; }

.section-span {
  width: 80%;
  padding-bottom: 40px !important;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 300;
  color: darkgray; }

.margin-top {
  margin-top: 70px; }

.button_login {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  box-sizing: padding-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #34c1e7;
  border-style: none;
  outline: none;
  color: #fff;
  font-weight: 700; }

.button-submit {
  display: inline-block;
  font-weight: 300;
  margin: 0 0 4px 4px;
  border: none;
  background: #34c1e7;
  color: #ffffff;
  border-radius: 25px;
  box-sizing: padding-box;
  font-size: 14px;
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  outline: none; }

.button-search {
  display: inline-block;
  font-weight: 300;
  margin: 0 0 4px 4px;
  border: none;
  background: #34c1e7;
  color: #ffffff;
  border-radius: 25px;
  box-sizing: padding-box;
  font-size: 14px;
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  outline: none; }

.button-search:hover {
  background: #df3f52;
  color: #fff; }

.move {
  margin-top: 2px; }

.button_exit {
  margin-top: 22px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  box-sizing: padding-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #df3f52;
  border-style: none;
  outline: none;
  color: #fff;
  font-weight: 700; }

.button_login:hover, .button_exit:hover {
  opacity: 0.8; }

.font-size18 {
  font-size: 14px;
  font-weight: 700; }

.btn-comment {
  background: #fff;
  border: 1px solid #A79C9C;
  color: #bbb;
  outline: 0;
  text-decoration: none;
  font-weight: 300;
  border-radius: 0;
  font-size: 14px;
  height: auto;
  letter-spacing: 0;
  line-height: 14px;
  padding: 7px 15px;
  border-radius: 2px;
  text-transform: Uppercase; }

.btn-comment:hover {
  background: #df3f52;
  color: #ffffff;
  border-color: #df3f52; }

.field_username, .field_pass, .field_userlogin, .field_password, .field_useremail {
  border: 2px solid #ebebeb;
  color: #8b9094;
  height: 44px;
  line-height: 35px;
  margin: 0;
  opacity: 1;
  padding: 0 0 0 15px;
  margin-bottom: 15px; }
  .field_username input, .field_pass input, .field_userlogin input, .field_password input, .field_useremail input {
    width: 80%; }

.field_username:after {
  font-family: 'FontAwesome';
  color: #333;
  position: relative;
  content: "\f007";
  font-size: 24px; }

.field_pass:after {
  font-family: 'FontAwesome';
  color: #333;
  position: relative;
  content: "\f023";
  font-size: 24px; }

.field_userlogin:after {
  font-family: 'FontAwesome';
  color: #333;
  position: relative;
  content: "\f007";
  font-size: 24px; }

.field_useremail:after {
  font-family: 'FontAwesome';
  color: #333;
  position: relative;
  content: "\f003";
  font-size: 24px; }

.field_password:after {
  width: 20%;
  font-family: 'FontAwesome';
  color: #333;
  position: relative;
  content: "\f023";
  font-size: 24px; }

.form-style {
  border-style: none;
  -webkit-appearance: none;
  outline: none;
  resize: none; }

.a-style {
  float: right;
  color: #47c9ec;
  text-decoration: none; }

.a-style:hover {
  text-decoration: none; }

.span-style-right {
  padding: 14px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #5b6a76; }

.pagination-links {
  float: right;
  color: #5b5f62;
  font-size: 14px;
  margin: 20px 0;
  padding: 10px 0;
  background: 0 0;
  border: none;
  color: #767676;
  font-size: small; }

.pagination-links .page-numbers {
  padding: 0 5px;
  color: #34c1e7 !important; }

.current {
  color: #767676; }

.current:hover {
  color: #767676; }

.page-numbers:hover {
  font-weight: bolder; }

#buddypress {
  padding-top: 0px; }

#buddypress #item-header {
  padding-top: 0px;
  width: 100%; }

#cover-image-container {
  position: relative;
  z-index: 0; }

#header-cover-image {
  height: 225px;
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

#header-cover-image img {
  position: relative;
  width: 100%;
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  height: 225px; }

#item-header-cover-image {
  padding: 0 1em;
  position: relative;
  z-index: 2; }

#item-header-avatar {
  margin-top: 145px;
  float: left;
  overflow: visible;
  width: auto; }

.avatar {
  border: solid 2px #FFF;
  background: url(../img/thumbnail/default-image.png);
  float: left;
  margin: 0 15px 19px 0; }

.avatar-150 {
  border-radius: 0; }

#item-header-avatar a {
  border: none;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.photo {
  width: 150px;
  height: 150px; }

#item-header-content {
  clear: both;
  float: left;
  margin-left: 170px;
  margin-top: -140px;
  width: auto; }

#item-header-cover-image h2 {
  color: #FFF;
  text-rendering: optimizelegibility;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  margin: 0 0 .6em;
  font-size: 200%;
  line-height: 120%; }

#item-buttons {
  margin: 0 0 10px;
  padding: 0 0 5px; }

span.activity {
  color: #9ca0a2;
  font-size: 13px;
  display: inline-block;
  opacity: .8;
  padding: 0; }

#item-meta {
  font-size: 100%;
  color: #767676;
  overflow: hidden;
  margin: 15px 0 5px;
  padding-bottom: 10px; }

#item-nav {
  float: none;
  width: 100%; }

#objectnav {
  width: 100%;
  margin-top: 0; }

.item-list-tabs {
  clear: none;
  float: left;
  margin: 15px 0 10px;
  width: 100%;
  background: 0 0;
  overflow: hidden; }

.item-list-tabs ul li {
  width: auto;
  box-sizing: border-box;
  margin: 0 15px 0 0;
  float: left;
  list-style: none;
  color: #e1e1e1; }

div.item-list-tabs ul li.select a {
  color: #34c1e7 !important;
  background: transparent !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px; }

#buddypress div.pagination .pagination-links {
  float: right;
  margin-right: 10px; }

#item-body {
  float: left; }

#item-body div {
  margin-top: 7px;
  font-size: 1em; }

#item-body select {
  background: #f7fafb;
  width: 75%;
  display: inline;
  border: medium none;
  border-radius: 25px;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  overflow: hidden;
  padding: 0 20px;
  outline: none;
  color: #767; }

.profile-border {
  border: 2px solid #eee; }

.editfield label {
  display: block;
  font-weight: 700;
  margin: 15px 0 5px;
  width: auto;
  color: #000000; }

.editfield input {
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 0;
  color: #767676;
  font: inherit;
  font-size: 100%;
  padding: 10px;
  -webkit-appearance: none;
  outline: none;
  resize: none;
  width: 100%;
  line-height: 1.3em; }

.field-visibility-settings-notoggle {
  color: #767676; }

.current-visibility-level {
  font-weight: 700;
  font-style: normal; }

.description {
  color: #767676;
  margin: 5px 0; }

.current-selected {
  color: #5bc0de; }

.drag-drop #drag-drop-area {
  box-sizing: border-box;
  display: table;
  height: 100%;
  width: 100%; }

#drag-drop-area {
  border: 4px dashed #bbb; }

.drag-drop-inside {
  display: table-cell;
  padding: 40px 0;
  text-align: center;
  vertical-align: middle; }

.editfield {
  width: 100%; }

.drag-drop .drag-drop-inside p {
  color: #aaa;
  font-size: 110%;
  margin: 5px 0;
  text-align: center; }

.drag-drop-buttons input {
  text-align: center; }

label.myLabel input[type="file"] {
  position: fixed;
  top: -1000px; }

.myLabel {
  background: #fff;
  border: 1px solid #A79C9C;
  color: #bbb;
  outline: 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  height: auto;
  letter-spacing: 0;
  line-height: 14px;
  padding: 7px 15px;
  border-radius: 2px;
  text-transform: Uppercase; }

.myLabel:hover {
  background: #df3f52;
  color: #ffffff;
  border-color: #df3f52; }

.myLabel:active {
  background: #df3f52;
  color: #ffffff;
  border-color: #df3f52; }

#item-buttons {
  margin: 0 0 10px;
  padding: 0 0 5px; }

#buddypress div#item-header a.button, #buddypress div#item-header div.generic-button {
  float: left;
  margin: 10px 10px 10px 0; }

/* Layouts - Page Layout Styles*/
.nav_container {
  clear: both;
  width: 100%;
  background: #fff; }
  .nav_container .nav_main {
    width: 80%;
    height: 150px;
    position: relative;
    margin: 0 auto; }
    .nav_container .nav_main .nav_left {
      width: 20%;
      float: left; }
      .nav_container .nav_main .nav_left img {
        padding: 10%;
        width: 80%;
        margin-top: 12%; }
    .nav_container .nav_main .nav_right {
      width: 75%;
      float: right;
      right: 0;
      padding-top: 4%;
      padding-left: 8%;
      font-size: 1em; }
      .nav_container .nav_main .nav_right * {
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        margin: 0; }
      .nav_container .nav_main .nav_right article, .nav_container .nav_main .nav_right aside, .nav_container .nav_main .nav_right details, .nav_container .nav_main .nav_right figcaption, .nav_container .nav_main .nav_right figure, .nav_container .nav_main .nav_right footer, .nav_container .nav_main .nav_right header, .nav_container .nav_main .nav_right hgroup, .nav_container .nav_main .nav_right nav, .nav_container .nav_main .nav_right section {
        display: block; }
      .nav_container .nav_main .nav_right div {
        display: block; }
      .nav_container .nav_main .nav_right body {
        font-family: 'Open Sans Condensed', sans-serif;
        	/*background: url(../img/bg/bg_theme.jpg) center center;
          	background-size: cover;*/
        background-size: cover;
        font-size: 1em;
        line-height: 1.7em;
        color: #5b6a76;
        min-width: 992px; }
      .nav_container .nav_main .nav_right body, .nav_container .nav_main .nav_right li:hover, .nav_container .nav_main .nav_right a:hover, .nav_container .nav_main .nav_right button:hover, .nav_container .nav_main .nav_right input:focus, .nav_container .nav_main .nav_right input:hover, .nav_container .nav_main .nav_right input:active {
        cursor: url(../img/cursor/catwalking.ani), url(../img/cursor/catwalking.png), default; }
      .nav_container .nav_main .nav_right body::-webkit-scrollbar {
        width: 1em; }
      .nav_container .nav_main .nav_right body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      .nav_container .nav_main .nav_right body::-webkit-scrollbar-thumb {
        background-color: #082b49;
        outline: 1px solid slategrey; }
      .nav_container .nav_main .nav_right a {
        color: #000; }
      .nav_container .nav_main .nav_right a:hover {
        color: #46c8ec;
        text-decoration: none; }
      .nav_container .nav_main .nav_right .clearfix {
        clear: both; }
      .nav_container .nav_main .nav_right .button {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 15px 25px !important;
        border-radius: 20px !important;
        color: #fff !important;
        border: 0 !important;
        outline: none !important; }
      .nav_container .nav_main .nav_right .button:hover {
        opacity: 0.8; }
      .nav_container .nav_main .nav_right .service-count {
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        position: relative;
        margin-top: -20px;
        border-radius: 50%;
        text-align: center;
        background: #b4c408; }
      .nav_container .nav_main .nav_right .sub_nav {
        margin-top: 20px;
        position: absolute;
        background: #f5f9fa;
        display: none;
        z-index: 2;
        width: 17%;
        border-bottom: 3px solid #34c1e7;
        opacity: 0.9;
        padding: 0; }
        .nav_container .nav_main .nav_right .sub_nav .li-style {
          display: block;
          text-align: center;
          border-bottom: 1px solid #fff;
          padding: 20px 0; }
          .nav_container .nav_main .nav_right .sub_nav .li-style a {
            width: 100%;
            color: darkgrey; }
          .nav_container .nav_main .nav_right .sub_nav .li-style a:hover {
            color: #34c1e7;
            border: 0; }
      .nav_container .nav_main .nav_right center > .a_green {
        color: #b4c408;
        text-decoration: none; }
      .nav_container .nav_main .nav_right .green {
        background: #b4c408; }
      .nav_container .nav_main .nav_right .blue {
        color: #34c1e7; }
      .nav_container .nav_main .nav_right .red {
        background: #df3f52; }
      .nav_container .nav_main .nav_right ul, .nav_container .nav_main .nav_right li {
        list-style-type: none;
        color: #000; }
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
      .nav_container .nav_main .nav_right .fix-nav {
        position: fixed;
        top: -40px;
        z-index: 1;
        height: 150px;
        vertical-align: middle;
        -webkit-animation-name: hvr-wobble-vertical;
        animation-name: hvr-wobble-vertical;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 2;
        animation-iteration-count: 2; }
      .nav_container .nav_main .nav_right img {
        max-width: 100%;
        height: auto;
        vertical-align: top; }
      .nav_container .nav_main .nav_right .alignright {
        display: inline-block;
        float: right;
        margin-left: 2em;
        text-align: right; }
      .nav_container .nav_main .nav_right ul, .nav_container .nav_main .nav_right li {
        display: inline-block;
        padding: 15px; }
        .nav_container .nav_main .nav_right ul a, .nav_container .nav_main .nav_right li a {
          padding-bottom: 10px; }
        .nav_container .nav_main .nav_right ul li:nth-child(1) a:hover, .nav_container .nav_main .nav_right ul a:focus, .nav_container .nav_main .nav_right ul .active, .nav_container .nav_main .nav_right ul li:nth-child(2) a:hover, .nav_container .nav_main .nav_right ul li:nth-child(3) a:hover, .nav_container .nav_main .nav_right ul li:nth-child(4) a:hover, .nav_container .nav_main .nav_right li li:nth-child(1) a:hover, .nav_container .nav_main .nav_right li a:focus, .nav_container .nav_main .nav_right li .active, .nav_container .nav_main .nav_right li li:nth-child(2) a:hover, .nav_container .nav_main .nav_right li li:nth-child(3) a:hover, .nav_container .nav_main .nav_right li li:nth-child(4) a:hover {
          color: #34c1e7;
          text-decoration: none;
          border-bottom: 2px solid #34c1e7; }

footer {
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  padding: 35px 0;
  background-color: #051c2f;
  color: #aeb1b3; }

.copyright_wrap {
  width: 80%;
  margin: 0 auto; }
  .copyright_wrap a {
    color: #337ab7; }

.login_social_list {
  padding: 0;
  width: 100%; }
  .login_social_list ul {
    width: 100%; }
    .login_social_list ul li {
      list-style-type: none;
      display: inline;
      padding: 5px; }
      .login_social_list ul li a {
        text-decoration: none; }

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.clearfix {
  clear: both; }

.menu_user_wrap {
  font-size: 13px;
  background-color: #082b49;
  min-height: 50px;
  color: #d0d1d2; }
  .menu_user_wrap .content_wrap {
    width: 1150px;
    margin: 0 auto; }
    .menu_user_wrap .content_wrap .menu_user_contact_area {
      height: 50px;
      line-height: 50px; }
      .menu_user_wrap .content_wrap .menu_user_contact_area li {
        list-style-type: none; }
        .menu_user_wrap .content_wrap .menu_user_contact_area li i {
          color: #34c1e7; }
        .menu_user_wrap .content_wrap .menu_user_contact_area li a {
          text-decoration: none;
          color: #d0d1d2; }
        .menu_user_wrap .content_wrap .menu_user_contact_area li a:hover {
          color: #34c1e7;
          -webkit-transition: all ease .3s;
          -moz-transition: all ease .3s;
          -ms-transition: all ease .3s;
          -o-transition: all ease .3s; }
    .menu_user_wrap .content_wrap .menu_user_left {
      float: left; }
    .menu_user_wrap .content_wrap .menu_user_right {
      float: right;
      position: relative;
      z-index: 99999; }

.carousel-header {
  width: 100%;
  /*#f5f9fa*/ }
  .carousel-header .carousel-inner > .item > a > img, .carousel-header .carousel-inner > .item > img, .carousel-header .img-responsive, .carousel-header .thumbnail a > img, .carousel-header .thumbnail > img {
    display: block;
    width: 100%;
    height: 525px; }
  .carousel-header .caption-left {
    margin-top: -400px;
    float: left;
    width: 60%;
    color: #fff; }
    .carousel-header .caption-left h1 {
      font-size: 55px;
      font-family: "Open Sans",sans-serif;
      opacity: 0.8;
      text-align: left; }
    .carousel-header .caption-left p {
      color: white;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans",sans-serif;
      padding: 0px 0px 0px 0px;
      text-decoration: none;
      text-align: left;
      background-color: transparent;
      border-color: black;
      border-style: none;
      border-width: 0px;
      border-radius: 0px 0px 0px 0px;
      text-shadow: none;
      margin: 0px;
      white-space: nowrap;
      text-transform: uppercase;
      margin-bottom: 100px; }
    .carousel-header .caption-left .sc_button {
      font-size: 14px;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 20px;
      color: #fff;
      border: 0; }
    .carousel-header .caption-left .sc_button_blue {
      background: #34c1e7; }
    .carousel-header .caption-left .sc_button_bg_custom {
      color: #ffffff !important;
      letter-spacing: 0.5px !important; }
  .carousel-header .black {
    color: #082b49; }
  .carousel-header .caption-right {
    margin-top: -400px;
    float: right;
    width: 60%;
    color: #fff; }
    .carousel-header .caption-right h1 {
      font-size: 55px;
      font-family: "Open Sans",sans-serif;
      opacity: 0.8;
      text-align: left; }
    .carousel-header .caption-right p {
      color: white;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-style: normal;
      font-family: "Open Sans",sans-serif;
      padding: 0px 0px 0px 0px;
      text-decoration: none;
      text-align: left;
      background-color: transparent;
      border-color: black;
      border-style: none;
      border-width: 0px;
      border-radius: 0px 0px 0px 0px;
      text-shadow: none;
      margin: 0px;
      white-space: nowrap;
      text-transform: uppercase;
      margin-bottom: 100px;
      margin-right: 100px; }
    .carousel-header .caption-right .sc_button {
      font-size: 14px;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 20px;
      color: #fff;
      border: 0; }
    .carousel-header .caption-right .sc_button_blue {
      background: #34c1e7; }
    .carousel-header .caption-right .sc_button_bg_custom {
      color: #ffffff !important;
      letter-spacing: 0.5px !important; }

.section-layout {
  margin-top: -40px;
  width: 100%;
  height: 746.69px;
  background: #f5f9fa; }
  .section-layout .section-container {
    width: 80%;
    margin: 0 auto; }
    .section-layout .section-container h1 {
      padding: 3% 0 3% 0;
      text-align: center;
      font-size: 47px; }
    .section-layout .section-container .par-section {
      width: 50%;
      margin: 0 auto; }
      .section-layout .section-container .par-section h3 {
        text-align: center;
        font-size: 100%;
        color: #6d8192;
        line-height: inherit;
        margin-bottom: 70px; }
  .section-layout .four-column {
    width: 100%;
    margin: 0 auto;
    height: 337px;
    display: block; }
    .section-layout .four-column .service-block {
      float: left;
      width: 22%;
      height: 337px;
      background: #fff;
      margin-right: 3%; }
    .section-layout .four-column .fa {
      margin-top: 10px;
      color: #34c1e7; }
    .section-layout .four-column h4 {
      font-weight: bold; }
    .section-layout .four-column p {
      width: 80%;
      text-align: center;
      color: #333;
      opacity: 0.9; }

/*Modals - page modals Styles*/
.profilemodal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0; }

.settings {
  margin-bottom: 15px;
  padding: 0 15%; }

.settings a {
  color: #a8aaab;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 0 0 20px;
  border-bottom: none; }

.help {
  margin-bottom: 15px;
  padding: 0 15%; }

.help a {
  color: #a8aaab;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 24px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 0 0 20px;
  border-bottom: none; }

.help a:hover, .settings a:hover {
  opacity: 1.2;
  text-decoration: none; }

.user_info {
  list-style: none;
  margin: 30px 0; }

.cart_text {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600; }

.user_cart {
  background-color: #082b49;
  overflow: hidden;
  padding: 15px 15px 15px 0;
  text-align: center; }

.user_avatar img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width: 70px;
  height: 65px; }

.user_avatar {
  display: inline-block;
  margin: 0 15px 0 0;
  float: left; }

.user_text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  margin: 0 0 10px 0; }

.user_name {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  display: block; }

.user_account {
  color: #242424;
  overflow: hidden;
  margin-bottom: 35px;
  padding: 0 40px; }

.profile-content {
  width: 30%;
  height: 500px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 36%;
  top: 15%;
  padding: 3% 0; }

.profile-main-content {
  width: 100%;
  height: auto;
  position: inherit; }

.user_logout {
  padding: 0 40px; }

#login-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none; }

.login-content {
  width: 48%;
  height: 378px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 26%;
  top: 25%; }
  .login-content .unselect {
    background: #eee;
    opacity: 0.9;
    color: #bac0c3; }
  .login-content .login-header {
    width: 100%;
    height: inherit; }
    .login-content .login-header .login-header-left {
      width: 50%;
      height: auto;
      float: left;
      text-align: center;
      height: 85px; }
      .login-content .login-header .login-header-left h4 {
        margin: 0;
        font-size: 16px;
        text-align: center;
        line-height: 85px;
        text-transform: uppercase;
        font-weight: 600; }
    .login-content .login-header .login-header-right {
      width: 50%;
      height: auto;
      float: right;
      text-align: center;
      height: 85px; }
      .login-content .login-header .login-header-right h4 {
        margin: 0;
        font-size: 16px;
        text-align: center;
        line-height: 85px;
        text-transform: uppercase;
        font-weight: 600; }
  .login-content .login-main-content {
    width: 100%;
    height: auto;
    position: inherit; }
    .login-content .login-main-content .content-signin {
      width: 100%;
      height: 293px;
      padding: 50px 40px; }
    .login-content .login-main-content .content-signup {
      width: 100%;
      height: 293px;
      padding: 50px 40px; }
    .login-content .login-main-content .form-left {
      float: left;
      padding-right: 40px;
      width: 50%;
      border-right: 1px solid #e0e0e0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .login-content .login-main-content .form-left input[type="text"], .login-content .login-main-content .form-left input[type="password"] {
        border-style: none;
        -webkit-appearance: none;
        outline: none;
        resize: none; }
      .login-content .login-main-content .form-left input[type="checkbox"] {
        width: 20px;
        height: 20px; }
      .login-content .login-main-content .form-left .terms {
        color: #47c9ec;
        text-decoration: none;
        margin-bottom: 20px; }
      .login-content .login-main-content .form-left .span-style {
        position: relative;
        line-height: 1.5em;
        color: #5b6a76; }
    .login-content .login-main-content .form-right {
      float: right;
      padding-left: 40px;
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .login-content .login-main-content .form-right .login_social_title {
        color: #999fa2;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 23px; }
      .login-content .login-main-content .form-right .login_social_list {
        padding: 0;
        width: 100%; }
        .login-content .login-main-content .form-right .login_social_list ul {
          width: 100%; }
          .login-content .login-main-content .form-right .login_social_list ul li {
            list-style-type: none;
            display: inline;
            padding: 5px; }
            .login-content .login-main-content .form-right .login_social_list ul li a {
              text-decoration: none; }
              .login-content .login-main-content .form-right .login_social_list ul li a img {
                width: 40px;
                height: 40px; }
      .login-content .login-main-content .form-right .social_problems {
        width: 100%; }
        .login-content .login-main-content .form-right .social_problems a {
          font-size: 100%;
          color: #47c9ec;
          font-width: 5px; }
        .login-content .login-main-content .form-right .social_problems a:hover {
          text-decoration: none;
          color: #4682b4; }

#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > span {
  font-size: 10px; }

#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > a {
  font-size: 12px; }

.subscriptionmodal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0; }

.settings {
  margin-bottom: 15px;
  padding: 0 15%; }

.settings a {
  color: #a8aaab;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 0 0 20px;
  border-bottom: none; }

.help {
  margin-bottom: 15px;
  padding: 0 15%; }

.help a {
  color: #a8aaab;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 24px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 0 0 20px;
  border-bottom: none; }

.help a:hover, .settings a:hover {
  opacity: 1.2;
  text-decoration: none; }

.subscription_info {
  list-style: none;
  margin: 30px 0; }

.cart_text {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600; }

.subscription_cart {
  background-color: #082b49;
  overflow: hidden;
  padding: 15px 15px 15px 0;
  text-align: center; }

.subscription_avatar img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width: 70px;
  height: 65px; }

.subscription_avatar {
  display: inline-block;
  margin: 0 15px 0 0;
  float: left; }

.subscription_text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  margin: 0 0 10px 0; }

.subscription_name {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  display: block; }

.subscription_account {
  color: #242424;
  overflow: hidden;
  margin-bottom: 35px;
  padding: 0 40px; }

.subscription-main-content {
  width: 100%;
  height: auto;
  position: inherit; }

.subscription_logout {
  padding: 0 40px; }

.subscription-content {
  width: 35%;
  height: 58%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 33%;
  top: 21%;
  overflow: hidden; }
  .subscription-content .unselect {
    background: #eee;
    opacity: 0.9;
    color: #bac0c3; }
  .subscription-content .subscription-header {
    width: 100%;
    height: inherit; }
    .subscription-content .subscription-header .subscription-header-left {
      width: 50%;
      height: auto;
      float: left;
      text-align: center;
      height: 85px; }
      .subscription-content .subscription-header .subscription-header-left h4 {
        margin: 0;
        font-size: 16px;
        text-align: center;
        line-height: 85px;
        text-transform: uppercase;
        font-weight: 600; }
    .subscription-content .subscription-header .subscription-header-right {
      width: 50%;
      height: auto;
      float: right;
      text-align: center;
      height: 85px; }
      .subscription-content .subscription-header .subscription-header-right h4 {
        margin: 0;
        font-size: 16px;
        text-align: center;
        line-height: 85px;
        text-transform: uppercase;
        font-weight: 600; }
  .subscription-content .subscription-main-content {
    width: 100%;
    height: auto;
    position: inherit; }
    .subscription-content .subscription-main-content .content-signin {
      width: 100%;
      height: 293px;
      padding: 50px 40px; }
    .subscription-content .subscription-main-content .content-signup {
      width: 100%;
      height: 293px;
      padding: 50px 40px; }
    .subscription-content .subscription-main-content .form-left {
      float: left;
      padding-right: 40px;
      width: 50%;
      border-right: 1px solid #e0e0e0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .subscription-content .subscription-main-content .form-left input[type="text"], .subscription-content .subscription-main-content .form-left input[type="password"] {
        border-style: none;
        -webkit-appearance: none;
        outline: none;
        resize: none; }
      .subscription-content .subscription-main-content .form-left input[type="checkbox"] {
        width: 20px;
        height: 20px; }
      .subscription-content .subscription-main-content .form-left .terms {
        color: #47c9ec;
        text-decoration: none;
        margin-bottom: 20px; }
      .subscription-content .subscription-main-content .form-left .span-style {
        position: relative;
        line-height: 1.5em;
        color: #5b6a76; }
    .subscription-content .subscription-main-content .form-right {
      float: right;
      padding-left: 40px;
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .subscription-content .subscription-main-content .form-right .login_social_title {
        color: #999fa2;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 23px; }
      .subscription-content .subscription-main-content .form-right .login_social_list {
        padding: 0;
        width: 100%; }
        .subscription-content .subscription-main-content .form-right .login_social_list ul {
          width: 100%; }
          .subscription-content .subscription-main-content .form-right .login_social_list ul li {
            list-style-type: none;
            display: inline;
            padding: 5px; }
            .subscription-content .subscription-main-content .form-right .login_social_list ul li a {
              text-decoration: none; }
              .subscription-content .subscription-main-content .form-right .login_social_list ul li a img {
                width: 40px;
                height: 40px; }
      .subscription-content .subscription-main-content .form-right .social_problems {
        width: 100%; }
        .subscription-content .subscription-main-content .form-right .social_problems a {
          font-size: 100%;
          color: #47c9ec;
          font-width: 5px; }
        .subscription-content .subscription-main-content .form-right .social_problems a:hover {
          text-decoration: none;
          color: #4682b4; }

#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > span {
  font-size: 10px; }

#login-modal > div > div > div.login-main-content > div.content-signup > div.form-left.clearfix > span > a {
  font-size: 12px; }

.subscription-header-blue {
  font-size: 15px;
  line-height: 18px;
  background-color: #4c9bee; }

.subscription-header-blue {
  margin: 0 !important;
  padding: 20px 30px;
  font-weight: normal;
  color: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

.subscription-container {
  margin: 10px 15px; }

.subscription-container p {
  font-size: 13px;
  font-weight: normal; }

/*# sourceMappingURL=mainstyle.css.map */
