
*{

	padding:0;
	text-decoration:none;
	list-style-type:none;
	margin:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}


div{
	display:block;
}
body{
	font-family: 'Open Sans Condensed', sans-serif;
	/*background: url(../img/bg/bg_theme.jpg) center center;
  	background-size: cover;*/
	background-size: cover;
	font-size:$base-font-size;
	line-height:1.7em;
	color:#5b6a76;
	min-width:992px;

}

body,li:hover,a:hover,button:hover,input:focus,input:hover,input:active{
	cursor:url(../img/cursor/catwalking.ani),url(../img/cursor/catwalking.png),default;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #082b49;
  outline: 1px solid slategrey;

}



a{
color:#000;
}

a:hover{
	color:hsla(193, 81%, 60%, 1);
	text-decoration:none;
}


.clearfix{
	clear:both;

}

.button{
	font-size:12px!important;
	font-weight:bold!important;
	padding:15px 25px!important;
	border-radius:20px!important;
	color:#fff!important;
	border:0!important;
	outline:none!important;

}

.button:hover{
	opacity:0.8;
}

			.service-count{
				    color: #ffffff;
				    width: 40px;
				    height: 40px;
				    line-height: 40px;
				    font-size: 15px;
				    position: relative;
				    margin-top:-20px;
				    border-radius: 50%;
				    text-align: center;
				    background:$button-color-green;
				}



.sub_nav{
	margin-top:20px;
	position:absolute;
	background:#f5f9fa;
	display:none;
	z-index:2;
	width: 17%;
    border-bottom: 3px solid #34c1e7;
    opacity:0.9;
    padding:0;

	.li-style{
	display:block;
	text-align:center;
	border-bottom: 1px solid #fff;
	padding:20px 0;
	a{
		width:100%;
		color:darkgrey;
	}

	a:hover{
		color:$base-hover-color;
		border:0;
	}

	}
}





center>.a_green{
	color:$button-color-green;
	text-decoration:none;
}
.green{
	background:$button-color-green;

}
.blue{
	color:#34c1e7;
}
.red{
	background:$button-color-red;
}


ul,li{
	list-style-type:none;
	color:#000;
}


@-webkit-keyframes hvr-wobble-vertical {
        16.65% {
            -webkit-transform: translateY(8px);
            transform: translateY(8px)
        }
        33.3% {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px)
        }
        49.95% {
            -webkit-transform: translateY(4px);
            transform: translateY(4px)
        }
        66.6% {
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px)
        }
        83.25% {
            -webkit-transform: translateY(1px);
            transform: translateY(1px)
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }

    @keyframes hvr-wobble-vertical {
        16.65% {
            -webkit-transform: translateY(8px);
            transform: translateY(8px)
        }
        33.3% {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px)
        }
        49.95% {
            -webkit-transform: translateY(4px);
            transform: translateY(4px)
        }
        66.6% {
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px)
        }
        83.25% {
            -webkit-transform: translateY(1px);
            transform: translateY(1px)
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }




.fix-nav{
	position:fixed;
	top: -40px;
	z-index:1;
	height:150px;
	vertical-align: middle;
   	-webkit-animation-name: hvr-wobble-vertical;
        animation-name: hvr-wobble-vertical;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 2;
        animation-iteration-count: 2

 }


img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.alignright{
	display: inline-block;
	float: right;
	margin-left: 2em;
	text-align: right;
}

