/*Font Style*/

$base-font-size:1em;
$base-font-family: "Seqoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-line-height:15px;

/*Background & Color Style*/
$base-color: #666;
$base-hover-color:#34c1e7;
$button-color-green:#b4c408;
$button-color-red:#df3f52;