.button_login{
	margin-top:20px;
	width:100%;
	display: inline-block;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    box-sizing: padding-box;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background:#34c1e7;
    border-style:none;
    outline:none;
    color:#fff;
    font-weight:700;
}

.button-submit{
    display: inline-block;
    font-weight: 300;
    margin: 0 0 4px 4px;
    border: none;
    background: #34c1e7;
    color: #ffffff;
    border-radius: 25px;
    box-sizing: padding-box;
    font-size: 14px;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    outline:none;
}

.button-search{
    display: inline-block;
    font-weight: 300;
    margin: 0 0 4px 4px;
    border: none;
    background: #34c1e7;
    color: #ffffff;
    border-radius: 25px;
    box-sizing: padding-box;
    font-size: 14px;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    outline:none;
}

.button-search:hover{
    background:$button-color-red;
    color:#fff;

}


.move{
 margin-top:2px;   
}
.button_exit{
    margin-top:22px;
    width:100%;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    box-sizing: padding-box;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background:#df3f52;
    border-style:none;
    outline:none;
    color:#fff;
    font-weight:700;
}

.button_login:hover,.button_exit:hover{
	opacity:0.8;
}


.font-size18{
    font-size:14px;
    font-weight:700;

}

.btn-comment{
    background: #fff;
    border: 1px solid #A79C9C;
    color: #bbb;
    outline: 0;
    text-decoration: none;
    font-weight: 300;
    border-radius: 0;
    font-size: 14px;
    height: auto;
    letter-spacing: 0;
    line-height: 14px;
    padding:7px 15px;
    border-radius: 2px;
    text-transform: Uppercase;
}

.btn-comment:hover{
    background: #df3f52;
    color: #ffffff;
    border-color: #df3f52;
}

