.scroll_to_top{
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-size: 15px;
  position: fixed;
  border-radius: 50%;
  text-align: center;
  background: #34c1e7;
  z-index:5;
  right:45px;
  bottom:70px;
  padding-top:5px;
  display:none;
}

.scroll_to_top:hover{
	color:#fff;
}

.header-container{
    width:100%;
    height:auto;
    background:#f7fafb;
    color:#5b6a76;
}

.header-content{
    
    width:80%;
    margin: 0 auto;
    height:131px;
    padding: 32px 0 37px;
  
   
}

.header-left{
    float:left;
    width:75%;
    h1{
       font-size:50px;
       font-weight: 300;
       line-height: 62px;
       margin:0 0 ;
    }
}

.header-right{
    float:right;
    width:25%;

    .breadcrumb{
      background:none;
      margin:20px 0;
      color:#5b6a76;
      a{
        text-decoration:none;
      }
    }
}

.isotype_filters{
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 15px;

    a{
      display: inline-block;
      margin: 0 0 2px 0;
      text-align: center;
      padding: 0 30px;
      font-size: 15px;
      line-height: 50px;
      font-weight: 300;
      border-bottom: 2px solid transparent;
      position: relative;
      background:#f7fafb;
      color:#5b6a76;
      

    }

}

.isotype_filters a.active, .isotype_filters a:hover {
    border-color: #34c1e7;
    text-decoration:none;
}


.activity{
  font-size: 1.1em;
}

.data-count{
    display:none;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    position: absolute;
    margin-top: -24px;
     top: 0;
    left: 35%;
    opacity:0.8;
    border-radius: 50%;
    text-align: center;
    background: #34c1e7;


}


.content-left{
    float:left;
    width:65%;
    padding: 0 20px;
}



.member-search{
    margin: 0 0 30px 0;
    background: #f7fafb;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.member-search>input[type="text"]{
    width: 75%;
    border-radius: 25px;
    font-size: 14px;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    overflow: hidden;
    padding: 0 30px;
    background: #ffffff;
    border: none;
    outline:none;
}

.dir-form{
  clear:both;
  margin-top:0em;
}

//.item-list-tabs{
//    clear: none;
//    float: left;
//
//    margin: 15px 0 10px;
//    background: 0 0;
//    clear: left;
//    overflow: hidden;
//}
//
//.item-list-tabs ul li{
//    float: right;
//    margin: 0;
//    list-style: none;
//}


.selected{
    color: #34c1e7 !important;
    background: transparent !important;
    border-radius: 0 !important;
    height: auto !important;
    line-height: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
}

.selected a{
    color: #34c1e7 !important;
    background: transparent !important;
    border-radius: 0 !important;
    height: auto !important;
    line-height: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
}

div#subnav.item-list-tabs {
    overflow: visible;
    float: right;
    margin: 0;
    text-align: right;
}

.form-select{
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline:none;
}



.custom-pagination{
    color: #5b5f62;
    font-size: 14px;
    margin:20px 0;
    padding: 10px 0;
    background: 0 0;
    border: none;
    color: #767676;
    font-size: small;
    float:left;
}

.items-list{
    padding: 10px 0 0;  
    border-top: 1px solid #eaeaea;
    width: 100%;
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.items-list li {
    margin-top: 4%;
    border: 2px solid #e0eaec;
    box-sizing: border-box;
    padding: 18px;
    overflow: auto;
    position: relative;
}

.odd{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.even{
    width: 48%;
    float: left;
}

.item-avatar{
 float:left;
 width:15%;
}

.item-avatar img{
  width:50px;
  height:50px;
  border-radius:50%;
}

.item-thumbnail img{
  width: 80px;
  height: 80px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;;
}

.item-thumbnail img:hover{
  opacity:0.6;
}


.custom-item{
 float:right;
 width:70%;
 color: #5b5f62;
 font-weight: 400;
 font-size: 100%;
}

.custom-item .item-title{
  padding:5px 0;
  color: #5b5f62;
  font-size: 1.3em;
     

}

.widget-right{
  
  float:right;
  width:31%;
  height:auto;
  background:#f7fafb;
  padding:40px 40px;
}

.widget{
  margin:0 auto;
  text-align:center;
  display:block;
}

.widget_title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

.standard-form{
    color: #5b5f62;
    font-weight: 300;
    font-size: 14px;
    margin: 20px 0 3px;
}

.standard-form div label{
    display: block;
    font-weight: 700;
    margin: 15px 0 5px;
    width: auto;
    text-align:left;
}
.standard-form input[type="text"],.standard-form select{
    background: #ffffff;
    width:100%;
    border: medium none;
    border-radius: 25px;
    font-size: 14px;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    outline:none;
    color: #767676;
}

.submit{
    clear: both;
    padding: 20px 0 0;
    
}

.items-thumbnail{
    margin:0 auto;
    width:80%;

}

.items-thumbnail-border{
  border:1px solid #e7e7e7;
  padding: 40px 40px;
  margin-bottom:20px;
}
.items-thumbnail img{

  height:700px;
}

.widget-right-details{
  -webkit-border-radius-top:5px;
  -moz-border-radius-top:5px;
  border-radius-top:5px;
  float:right;
  width:31%;
  height:auto;
  background:#f7fafb;
  padding-bottom:20px;

}

.widget-navbar{
  position:relative;
  width:100%;
  height:50px;
  background:$button-color-red;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  text-align: left;
  padding: 12.5px 20px;
  color:#fff;
  font-weight:bold;
  margin-bottom:20px;

}

.widget-content{
  width:90%;
  margin:0 auto;
  height:auto;
}

.widget-price{
  font-size:1.1em;
  line-height:1;
  color: #6e7176;
}
.widget-number{
  font-size:1.1em;
  line-height:1;
  color: #6e7176;
}

.custom-item .fa{
  color:#34c1e7;
}
.widget-content .fa{
  color:#34c1e7;
}

.reviews-content{
  width:100%;
  padding: 10px 10px;
}


.commentlist{
  margin: 0;
  width: 100%;
  background: 0 0;
  list-style: none;
}


.comment-16{
  width:100%;
}
.commentlist li{
  padding: 10px;
  margin: 0 0 20px;
  position: relative;
  background: 0;
}

.commentlist .avatar{
  background: none;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 1.5em 0.5em 0;
  position: static;
}


.comment-respond{
  position: static;
  margin: 0;
  width: auto;
  padding: 0;
  background: 0 0;
  border: 0;
}

.comment-text{
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.star-rating{
  float: right;
  overflow: hidden;
  position: relative;
  font-size: 1em;
  margin-bottom: 4px;

}

.description{
  line-height: 21px;
  font-weight: 300;
}

.comment-star-rating{
  float: left;
  overflow: hidden;
  position: relative;
  font-size: 1em;
  padding-left:5px;
  margin-bottom: 4px;

}

.review-input{
  width:100%;
  margin:20px 0;
}

.review-label{
  width:15%;
  float:left;
  margin:5px 0;
}
.review-inputs{
  width:75%;
  float: left;
  margin:5px 0;
}

.review-inputs input[type="text"],.review-inputs select{
  background: #ffffff;
  width:50%;
  border: 1px solid #333;
  border-radius: 25px;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  outline:none;
  color: #767676;
}



.post_featured{
  overflow: hidden;
  margin-bottom: 2.4em;
  position: relative;

}


.post_featured img{
  width: 100%;
  height: auto;
}
.post_nav{
  position:relative;
}

.post_info{
  line-height: 24px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #aeb1b3;
}

.post_info_item{
  line-height: 20px;
  padding-right:20px;

}

.post_info_author{
  color: #232a34;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-decoration:underline;
}

.post_info_date{
  color: #34c1e7;
}

.post_info_item i{
  padding-right:-40px;
}

.post_info_item .fa:hover{
  color:#6d8192;
}

.post_info_bottom{
  margin-bottom: 40px;
}

