
.field_username,.field_pass,.field_userlogin,.field_password,.field_useremail{
	border: 2px solid #ebebeb;
	color: #8b9094;
	height: 44px;
	line-height: 35px;
	margin: 0;
	opacity: 1;
	padding: 0 0 0 15px;
	margin-bottom:15px;
	

	input{
		width:80%;

	}
}
				
.field_username:after{

	font-family: 'FontAwesome';
	color:#333;
	position: relative;
	content: "\f007";
	font-size:24px;
	
}


				
.field_pass:after{

	font-family: 'FontAwesome';
	color:#333;
	position: relative;
	content: "\f023";
	font-size:24px;
	
}

.field_userlogin:after{

	font-family: 'FontAwesome';
	 color:#333;
	 position: relative;
	content: "\f007";
	font-size:24px;
	
}

					
				
.field_useremail:after{

	font-family: 'FontAwesome';
	color:#333;
	position: relative;
	content: "\f003";
	font-size:24px;
	
}

.field_password:after{
	width:20%;
	font-family: 'FontAwesome';
	color:#333;
	position: relative;
	content: "\f023";
	font-size:24px;
					   
}


.form-style{

	border-style:none;
	-webkit-appearance: none;
	outline: none;
	resize: none;
}

.a-style{
	float:right;
	color:#47c9ec;
	text-decoration:none;
	
}

.a-style:hover{
	text-decoration:none;
}

.span-style-right{
	padding:14px 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #5b6a76;
}

