.pagination-links{
    float: right;
    color: #5b5f62;
    font-size: 14px;
    margin: 20px 0;
    padding: 10px 0;
    background: 0 0;
    border: none;
    color: #767676;
    font-size: small;
  
}

.pagination-links .page-numbers{
	padding:0 5px;
	color:#34c1e7 !important;
}

.current{
	color:#767676;
}

.current:hover{
	color:#767676;
}

.page-numbers:hover{
	font-weight:bolder;
}

