#buddypress{
  padding-top:0px;
}

#buddypress #item-header{
  padding-top: 0px;
  width:100%;
}

#cover-image-container{
  position:relative;
  z-index:0;
}
#header-cover-image{
  height: 225px;
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#header-cover-image img{
  position: relative;
  width:100%;
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  height: 225px;
}

#item-header-cover-image{
  padding: 0 1em;
  position: relative;
  z-index: 2;
}

#item-header-avatar{
  margin-top: 145px;
  float: left;
  overflow: visible;
  width: auto;
}

.avatar{
  border: solid 2px #FFF;
  background: url(../img/thumbnail/default-image.png);
  float: left;
  margin: 0 15px 19px 0;
}
.avatar-150{
  border-radius: 0;
}
#item-header-avatar a{
  border: none;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.photo{
  width: 150px;
  height: 150px;
}

#item-header-content{
  clear: both;
  float: left;
  margin-left: 170px;
  margin-top: -140px;
  width: auto;
}

#item-header-cover-image h2 {
  color: #FFF;
  text-rendering: optimizelegibility;
  text-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.8 );
  margin: 0 0 .6em;
  font-size: 200%;
  line-height: 120%;
}
#item-buttons{
  margin: 0 0 10px;
  padding: 0 0 5px;
}
span.activity{
  color: #9ca0a2;
  font-size: 13px;
  display: inline-block;
  opacity: .8;
  padding: 0;
}

#item-meta{
  font-size: 100%;
  color: #767676;
  overflow: hidden;
  margin: 15px 0 5px;
  padding-bottom: 10px;
}

#item-nav{
  float: none;
  width: 100%;
}

#objectnav{
  width:100%;
  margin-top:0;
}
.item-list-tabs{
  clear: none;
  float: left;
  margin: 15px 0 10px;
  width:100%;
  background: 0 0;
  overflow: hidden;
}

.item-list-tabs ul li {
  width: auto;
  box-sizing: border-box;
  margin: 0 15px 0 0;
  float: left;
  list-style: none;
  color:#e1e1e1;
}


div.item-list-tabs ul li.select a {
  color: #34c1e7 !important;
  background: transparent !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
}

#buddypress div.pagination .pagination-links {
  float: right;
  margin-right: 10px;
}

#item-body{
  float:left;
}
#item-body div{
  margin-top:7px;
  font-size:1em;
}


#item-body select {
  background: #f7fafb;
  width: 75%;
  display: inline;
  border: medium none;
  border-radius: 25px;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  overflow: hidden;
  padding: 0 20px;
  outline: none;
  color: #767
}

.profile-border{
  border:2px solid #eee;
}


.editfield label{
  display: block;
  font-weight: 700;
  margin: 15px 0 5px;
  width: auto;
  color:#000000;
}

.editfield input{
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 0;
  color: #767676;
  font: inherit;
  font-size: 100%;
  padding: 10px;
  -webkit-appearance: none;
  outline: none;
  resize: none;
  width: 100%;
  line-height: 1.3em;

}

.field-visibility-settings-notoggle{
  color: #767676;
}
.current-visibility-level{
  font-weight: 700;
  font-style: normal;
}

.description {
  color: #767676;

  margin: 5px 0;
}
.current-selected{
color:#5bc0de;
}

.drag-drop #drag-drop-area {
  box-sizing: border-box;
  display: table;
  height: 100%;
  width: 100%;
}

#drag-drop-area {
  border: 4px dashed #bbb;

}

.drag-drop-inside{
  display: table-cell;
  padding: 40px 0;
  text-align: center;
  vertical-align: middle;
}

.editfield{
  width:100%;
}

.drag-drop .drag-drop-inside p {
  color: #aaa;
  font-size: 110%;
  margin: 5px 0;
  text-align: center;
}

.drag-drop-buttons input{

  text-align: center;
}


label.myLabel input[type="file"] {
  position: fixed;
  top: -1000px;
}


.myLabel {
  background: #fff;
  border: 1px solid #A79C9C;
  color: #bbb;
  outline: 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  height: auto;
  letter-spacing: 0;
  line-height: 14px;
  padding:7px 15px;
  border-radius: 2px;
  text-transform: Uppercase;
}
.myLabel:hover {
  background: #df3f52;
  color: #ffffff;
  border-color: #df3f52;
}
.myLabel:active {
  background: #df3f52;
  color: #ffffff;
  border-color: #df3f52;
}


#item-buttons{
  margin: 0 0 10px;
  padding: 0 0 5px;

}
#buddypress div#item-header a.button, #buddypress div#item-header div.generic-button {
  float: left;
  margin: 10px 10px 10px 0;


}

