.content-wrap{
	
	width: 100%;
	height:auto;
   	margin:70px 0;
    background:#fff;
}

.section-content{
	
		width:85%;
		height:auto;
		margin: 0 auto;
		padding:60px 40px;
}

.column-2{
	float:left;
	display:inline;
	width:50%;
	padding-right:40px;

	img{
		width:555px;
		height:428.44px;
		margin-top:0.4em !important;
	}

	
}


.main_color{
		margin-top:0.4em; 
		margin-bottom:0.8em;
		color:#34c1e7;
		font-size: 47px;
	    font-weight: 300;
	    line-height: 56px;
	    -webkit-font-smoothing:antialiased;
}

.accent_color{
	color: #b4c408;
	margin-bottom:1.9em !important;
	font-size:14px; 
	line-height: 1.6em;
	font-weight:600;
}

.align_left{
	text-align:left;
}
.sc_section{
	margin-bottom:1.7em !important;
	width:100%;
}

.span-section-text{
	width:80%;
	margin-bottom:1.9em !important;
	font-size:16px; 
	line-height: 1.6em;
	font-weight:300;
	padding-left:10px;
	color:darkgray;
}


.bg-fp{
	height: 525px;
	background:url(../img/bg/petclub.jpg) no-repeat center center;
	background-size: cover;
}

.red_color{
		margin-top:0.4em; 
		margin-bottom:0.8em;
		color:#df3f52;
		font-size: 47px;
	    font-weight: 300;
	    line-height: 56px;
	    -webkit-font-smoothing:antialiased;
}

.section-span{
	width:80%;
	padding-bottom:40px !important;
	font-size:18px; 
	line-height: 1.6em;
	font-weight:300;
	color:darkgray;
}

.margin-top{
	margin-top:70px;
}

